/* Calculator Design*/


#VBox{
     -fx-background-color: #b0c4de;
}
#StackPane{
    -fx-background-color: #cccccc;
}


#label{
    -fx-background-color: #cccccc;
    -fx-text-fill: black;
}
#btn7{
    -fx-background-color: #cccccc;
}
#btn8{
    -fx-background-color: #cccccc;
}
#btn9{
    -fx-background-color: #cccccc;
}